.title-about {
    z-index: 100;
    position: absolute;
    display: flex;
    bottom: 1rem;
    justify-content: center;
    width: 100%;
    cursor: pointer;
    color: #fff;
}.title-about:hover {
    text-decoration: underline;
}

.hide {
    display: none;
}

.about {
    position: absolute;
    display: flex;
    bottom: 1rem;
    background: #5781F8;
    width: 100%;
    color: #fff;  

    // tablet
    @media only screen 
    and (max-device-width: 768px)
    and (-webkit-min-device-pixel-ratio: 2) {
        display: block;
        bottom: 0;
        // height: 80%;
        // overflow-y: auto;
    }

    // mobile
    @media only screen 
    and (max-device-width: 411px)
    and (-webkit-min-device-pixel-ratio: 2) {
        display: block;
        bottom: 0;
        height: 80%;
        overflow-y: auto;
    }
}

.close-about {
    z-index: 100;
    position: absolute;
    cursor: pointer;
    color: #232323;
    background: #bada55;
    font-size: 24px;
    right: 1rem;
    top: -2rem;
    padding: 10px;
}

p {
    padding: 1rem;
}